# Spring Boot 설정 파일 제외
/src/main/resources/application.properties
/src/main/resources/application.yml

# IntelliJ IDEA 관련 파일 제외
.idea/
*.iml

# 빌드 결과물 제외
/build/
/target/
*.jar
*.war

# 로그 파일 제외
*.log
logs/

#API
/src/request.http